.Products-Home-wrapper {
    min-height: 80vh;
}

.products-list {
    display: grid;
    margin: auto;
    margin-top: 50px;
    width: 100%;
    /* grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4, auto); */
    gap: 20px;
    grid-template-columns: 1fr;
    align-items: center;
    list-style: none;
}

.gallery {
    max-width: 1200px;
    margin: 50px auto;
    /* min-height: 80vh; */
    display: grid;
    gap: 15px;
    grid-template-areas: "a b c d" "e f g h" "i j k l";
    justify-content: center;
    align-content: center;
}

.products-list__item {
    /* margin: 0; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    border-radius: 20px 20px 0 0;
    padding: 10px;
    margin: 20px;
    /* overflow: hidden; */
    box-shadow: 0 0 10px 0 #ddd;
    /* cursor: pointer; */
    /* transition: transform  .2s ease-in; */
    /* background-color: #f8f8f8; */
}

.products-list__sub-item {
    /* opacity: 0;
    visibility: hidden; */
    display: flex;
    padding: 5px;
    gap: 10px;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    /* opacity: 1; */
    /* position: absolute; */
    background-color: #fff;
    width: 100%;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 1001;
    transition: opacity 0.2s ease-in;
    font-size: 0.7rem;
    color: #575153;
}

.sub-item__title {
    text-transform: uppercase;
}

.sub-item__button {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: none;
    color: #fff;
    background-color: #4e4b4c;
    transition: background-color 0.2s ease-in;
    cursor: pointer;
}

.sub-item__button:hover {
    background-color: #00c8c8;
}

.products-list__sub-item:hover {
    /* display: grid; */
    opacity: 1;
    visibility: visible;
}

.products-list__item:hover>.products-list__sub-item {
    visibility: visible;
    opacity: 1;
}

.item__price {
    position: absolute;
    top: 5px;
    left: 5px;
}

.product-img {
    width: 100%;
    z-index: 1;
}


/* .product-enter {
    opacity: 0;
}

.product-enter-active {
    opacity: 1;
    transition: opacity 1000ms linear;
} */

.product-appear {
    opacity: 0;
}

.product-appear-active {
    opacity: 1;
    transition: opacity 1000ms linear;
}

@media (min-width: 768px) {
    .products-list {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    .products-list__item {
        margin: 10px;
    }
}

@media (min-width: 1024px) {
    .products-list {
        grid-template-columns: none;
        /* width: 80vw; */
        grid-template-areas: "a b c c" "a b c c" "d d c c" "d d e f" "d d e f";
        gap: 20px;
    }
    .item-nb-0 {
        grid-area: a;
    }
    .item-nb-1 {
        grid-area: b;
    }
    .item-nb-2 {
        grid-area: c;
    }
    .item-nb-3 {
        grid-area: d;
    }
    .item-nb-4 {
        grid-area: e;
    }
    .item-nb-5 {
        grid-area: f;
    }
}

.button-group {
    display: flex;
    gap: 10px;
}

@media (min-width: 1200px) {
    .products-list {
        max-width: 1200px;
    }
    .products-list__item {
        border-radius: 20px;
        margin: auto;
    }
    .products-list__item:hover {
        /* transform: scale(1.05); */
        border-radius: 20px 20px 0 0;
    }
    .products-list__sub-item {
        position: absolute;
        opacity: 0;
        visibility: hidden;
    }
}