.hero {
    display: grid;
    background-image: url("../../assets/photo-mobile.jpg");
    /* width: 100vw; */
    max-width: 100%;
    min-height: 80vh;
    /* background-size: cover; */
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f8f8f8;
    position: relative;
    grid-template-rows: auto auto auto;
    justify-items: center;
    gap: 20px;
    padding-bottom: 30px;
}

.hero__button {
    position: absolute;
    bottom: 10px;
    text-transform: uppercase;
    border: 2px solid #575153;
    color: #575153;
    background-color: #f8f8f8;
    padding: 10px 25px;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

.main-title {
    font-size: 5rem;
    color: #575153;
    font-weight: 700;
    letter-spacing: 30px;
    user-select: none;
}

.hero__header__list {
    display: grid;
    list-style: none;
    justify-items: center;
    height: 100%;
    max-width: 90vw;
    margin: auto;
}

.list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    font-weight: 400;
    position: relative;
}


/*searchbar section */

.search-container {
    display: flex;
    /* border: 1px solid black; */
    align-items: center;
    position: relative;
    color: #000;
    background-color: transparent;
}

.input {
    background-color: #fff;
    border-radius: 5px;
    border: none;
    width: 100%;
    padding-right: 40px;
    min-height: 20px;
}

.inputIcon {
    cursor: pointer;
    position: absolute;
    right: 10px;
}

.text-logo {
    font-size: 2rem;
}

@media (min-width: 600px) {
    .hero {
        background-image: url("../../assets/photo.jpg");
    }
}

@media (min-width: 1024px) {
    .hero {
        background-size: cover;
        background-position-x: 0;
        background-position-x: 20%;
        min-height: 90vh;
        background-size: contain;
        grid-template-rows: 1fr;
        gap: 0;
        padding-bottom: 0;
        justify-items: stretch;
    }
    .list__item {
        padding: 35px 25px;
        align-items: initial;
    }
    .main-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .hero__header__list {
        grid-template-columns: 1fr repeat(6, auto);
        text-align: left;
        justify-items: stretch;
        align-items: baseline;
    }
    .hero__button {
        position: absolute;
        bottom: 14%;
        right: 25%;
    }
    .hero__button:hover {
        color: #f8f8f8;
        background-color: #575153;
    }
    .input {
        background-color: transparent;
    }
    .search-container {
        color: #333;
    }
}

@media (min-width: 1200px) {
    .main-title {
        max-width: 100%;
        font-size: 30rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* letter-spacing: 200px; */
    }
}