.add-to-cart-modal {
    width: 50%;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    opacity: 0;
}

.cart-enter {
    opacity: 0;
}

.cart-enter-active {
    opacity: 1;
    transition: opacity 500ms linear;
}

.cart-exit {
    opacity: 1;
}

.cart-exit-active {
    opacity: 0;
    transition: opacity 500ms linear;
}