.header {
    background-color: #333;
    max-width: 100%;
    &-list {
        // padding: 15px 0;
        text-align: left;
        max-width: 1200px;
        margin: auto;
        display: grid;
        list-style: none;
        color: #999999;
        font-weight: 400;
        font-size: 0.9rem;
        grid-template-columns: 1fr repeat(3, auto);
        // justify-content: space-between;
        &__item {
            padding: 13px;
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
        }
        &__item:last-child {
            margin-left: 80px;
        }
    }
}

.cart {
    color: white;
    background-color: #00c8c8;
}